*
{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body
{   
    width: 100vw;
    height: 500vh;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    scroll-behavior: smooth;
}


header
{
    background-color: aquamarine;
}


sub-header
{
    background-color: brown;
}

nav
{
    background-color: chartreuse;
}
main
{
    background-color:gray;
}

footer
{       
    
    background-color: #1c1c2c;
    color: aliceblue;
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 1fr 1fr 1fr;
}

.topocontato
{
    
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}
.topocontato h2
{
    font-size: 70px;
    grid-row: 2/3;
    
}
.topocontato p
{
    font-size: 20px;
    grid-row: 3/4;
    
}
.esquerdacontato
{

    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}
.esquerdacontato img
{
    padding-right: 2%;
    width: 6%;
}
.esquerdacontato a
{
    display: flex;
    
    align-items: center;
    color: aliceblue;
}
.direitacontato
{
    
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;

}

.direitacontato h3
{
    grid-column:1/-1 ;
}
#nome
{
    grid-column: 1/3;
}
#email
{
    grid-column: 1/3;
}

#tel
{
    grid-column: 1/3;
}
#mensagem
{   
    grid-column: 3/5 ;
    grid-row: 2/5;
    padding: var(--textPadding,3px);
}
#enviar
{   
    text-decoration: double;
    background-color: #9FBFFC;
    grid-column: 4/5;
}
#enviar:hover
{
    background-color: snow;
}


.botcontato
{

    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}

.botcontato img
{
    width: 50px;
}

.botcontato h3
{
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
}
.botcontato div
{
    grid-row: 4/5;
    grid-column: 3/4;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 500px) 
{
#contato
{       
    
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.esquerdacontato
{
    grid-row: 2/3;
    
}

.direitacontato
{
    grid-row: 3/4;
    grid-column: 2/3;
}

.botcontato
{
    grid-row: 4/5;
}

}